<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
         <!--<binding name="NoSecurity">
             <security mode="None" />
          </binding>-->
        <binding name="BasicHttpBinding_IServiceService" />
        <binding name="BasicHttpBinding_IServiceApiService" />
        <binding name="BasicHttpBinding_IConfigService" />
        <binding name="BasicHttpBinding_IConfigApiService" />
      </basicHttpBinding>
      <netNamedPipeBinding>
        <binding name="NetNamedPipeBinding_IServiceService" />
       <binding name="NetNamedPipeBinding_IServiceApiService" />
        <binding name="NetNamedPipeBinding_IConfigService" />
        <binding name="NetNamedPipeBinding_IConfigApiService" />
      </netNamedPipeBinding>
      <netTcpBinding>
        <binding name="NetTcpBinding_IServiceService" />
         <binding name="NetTcpBinding_IServiceApiService" />
        <binding name="NetTcpBinding_IConfigService" />
        <binding name="NetTcpBinding_IConfigApiService" />
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:8734/service" binding="netTcpBinding"
       bindingConfiguration="NetTcpBinding_IServiceService"
       contract="Config.Wcf.IServiceService" name="NetTcpBinding_IServiceService" />
      
      <endpoint address="http://localhost:8733/service" binding="basicHttpBinding"
          bindingConfiguration="BasicHttpBinding_IServiceService" 
          contract="Config.Wcf.IServiceService" name="BasicHttpBinding_IServiceService" />
      
      <endpoint address="net.pipe://localhost/service" binding="netNamedPipeBinding"
          bindingConfiguration="NetNamedPipeBinding_IServiceService"
          contract="Config.Wcf.IServiceService" name="NetNamedPipeBinding_IServiceService" >
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>

      <endpoint address="net.tcp://localhost:8734/serviceapi" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_IServiceApiService"
        contract="Config.Wcf.IServiceApiService" name="NetTcpBinding_IServiceApiService" />

      
      <endpoint address="http://localhost:8733/serviceapi" binding="basicHttpBinding"
          bindingConfiguration="BasicHttpBinding_IServiceApiService"
          contract="Config.Wcf.IServiceApiService" name="BasicHttpBinding_IServiceApiService" />
      
      <endpoint address="net.pipe://localhost/serviceapi" binding="netNamedPipeBinding"
        bindingConfiguration="NetNamedPipeBinding_IServiceApiService"
        contract="Config.Wcf.IServiceApiService" name="NetNamedPipeBinding_IServiceApiService" >
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>

      <endpoint address="net.tcp://localhost:8734/config" binding="netTcpBinding"
  bindingConfiguration="NetTcpBinding_IConfigService"
  contract="Config.Wcf.IConfigService" name="NetTcpBinding_IConfigService" />


      <endpoint address="http://localhost:8733/config" binding="basicHttpBinding"
          bindingConfiguration="BasicHttpBinding_IConfigService"
          contract="Config.Wcf.IConfigService" name="BasicHttpBinding_IConfigService" />

      <endpoint address="net.pipe://localhost/config" binding="netNamedPipeBinding"
        bindingConfiguration="NetNamedPipeBinding_IConfigService"
        contract="Config.Wcf.IConfigService" name="NetNamedPipeBinding_IConfigService" >
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      

      <endpoint address="net.tcp://localhost:8734/configapi" binding="netTcpBinding"
          bindingConfiguration="NetTcpBinding_IConfigApiService"
          contract="Config.Wcf.IConfigApiService" name="NetTcpBinding_IConfigApiService" />


        <endpoint address="http://localhost:8733/configapi" binding="basicHttpBinding"
            bindingConfiguration="BasicHttpBinding_IConfigApiService"
            contract="Config.Wcf.IConfigApiService" name="BasicHttpBinding_IConfigApiService" />

        <endpoint address="net.pipe://localhost/configapi" binding="netNamedPipeBinding"
          bindingConfiguration="NetNamedPipeBinding_IConfigApiService"
          contract="Config.Wcf.IConfigApiService" name="NetNamedPipeBinding_IConfigApiService" >
          <identity>
            <dns value="localhost" />
          </identity>
      </endpoint>
      
       
    
    </client>
  </system.serviceModel>
</configuration>