<objects xmlns='http://www.springframework.net'
         xmlns:db="http://www.springframework.net/database">
  <!-- 数据库和Nhibernate的相关配置 -->
  <!--<db:provider id="DbProvider" 
               provider="MySql.Data, Version=8.0.21.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"
               connectionString="Database=Shop;Data Source=localhost;User Id=root;Password=wjp930514.;Old Guids=True;charset=utf8;"/>-->
  
  <!-- No object named 'MySql.Data' is defined 不使用 程序集名称 使用 命名空间 -->
  <!--<db:provider id="DbProvider" 
               provider="MySql.Data.MySqlClient,MySql.Data, Version=8.0.21.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" 
               connectionString="Database=Shop;Data Source=localhost;User Id=root;Password=wjp930514.;Old Guids=True;charset=utf8;"/>-->
  
  <!--  Could not convert constructor argument value [MySql.Data.MySqlClient.MySqlConnection, MySql.Data, Version=6.1.3.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d] to required type
   安装 对应版本 没有这个版本 类库 
   http://www.springframework.net/doc-latest/reference/html/dbprovider.html -->
    <!--<db:provider id="DbProvider" 
               provider="MySql-6.1.3" 
               connectionString="Database=Shop;Data Source=localhost;User Id=root;Password=wjp930514.;Old Guids=True;charset=utf8;"/>-->

  <!--<object id="MySqlDbMetadata" type="Utility.Spring.MySqlDbMetadata,Shop.Spring.Advert.Api" />
  
  <object id="DbProvider" type="Spring.Data.Common.DbProvider,Spring.Data">
    <constructor-arg index="0" ref="MySqlDbMetadata"></constructor-arg>
  </object>-->
  
  <!-- xml 有时可以 有时 出 问题 硬代码 实现  -->
  
     <!--事务控制管理器--> 
    <!--<object id="transactionManager"
        type="Spring.Data.NHibernate.HibernateTransactionManager, Spring.Data.NHibernate">
      <property name="DbProvider" ref="DbProvider"/>
      <property name="SessionFactory" ref="MySessionFactory"/>
  </object>-->

</objects>