<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!--<section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" />-->
    <!--For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468-->
    <!--<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />-->

    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core"/>
      <section name="parsers" type="Spring.Context.Support.NamespaceParsersSectionHandler, Spring.Core"/>
      <!--<section name="context" type="Spring.Context.Support.MvcContextHandler, Spring.Web.Mvc"/>-->
    </sectionGroup>
  </configSections>
  
   <connectionStrings>
    <!--SQLServer数据库的连接字符串-->
    <!--<add name="sqlserver" providerName="System.Data.SqlClient" connectionString="Persist Security Info=False;Data Source=(local);Initial Catalog=WinFramework;Integrated Security=SSPI"/>-->
    <!--MySQL数据库的连接字符串-->
    <!--<add name="mysql" providerName="MySql.Data.MySqlClient" connectionString="Server=localhost;Database=Example;Uid=root;Pwd=wjp930514.;" />-->
    <add name="Service" connectionString="server=localhost:3306;database=Example;User=root;Password=wjp930514.;" providerName="MySql.Data.MySqlClient" />
     <add connectionString="Database=TemplateTest;Data Source=localhost;User Id=root;Password=wjp930514.;Old Guids=True;charset=utf8;" name="Mysql"></add>
  </connectionStrings>
  
  
  <!--<dataConfiguration defaultDatabase="mysql">-->
  <!--<dataConfiguration>
    <providerMappings>
      --><!--<remove invariant="MySql.Data.MySqlClient"  />--><!--
      --><!--<add databaseType="EntLibContrib.Data.MySql.MySqlDatabase, EntLibContrib.Data.MySql" name="MySql.Data.MySqlClient" />--><!--
      <add databaseType="MySql.Data.MySqlClient,MySql.Data, Version=8.0.21.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" name="MySql.Data.MySqlClient" />
    </providerMappings>
  </dataConfiguration>-->

  <spring>
    <parsers>
      <parser type="Spring.Data.Config.DatabaseNamespaceParser, Spring.Data" />
      <parser type="Spring.Transaction.Config.TxNamespaceParser, Spring.Data"/>
    </parsers>
    <context>
      <resource uri="config://spring/objects"/>
      <resource uri="file://~/spring.xml"/>
      <!--<resource uri="~/spring-domain.xml" />-->
    </context>
    <objects xmlns="http://www.springframework.net" xmlns:v="http://www.springframework.net/validation"/>
  </spring>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>


  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <!--<binding name="NoSecurity">
             <security mode="None" />
          </binding>-->
        <binding name="BasicHttpBinding_IServiceService" />
        <binding name="BasicHttpBinding_IServiceApiService" />
      </basicHttpBinding>
      <netNamedPipeBinding>
        <binding name="NetNamedPipeBinding_IServiceService" />
        <binding name="NetNamedPipeBinding_IServiceApiService" />
      </netNamedPipeBinding>
      <netTcpBinding>
        <binding name="NetTcpBinding_IServiceService" />
        <binding name="NetTcpBinding_IServiceApiService" />
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8733/service" binding="basicHttpBinding"
          bindingConfiguration="BasicHttpBinding_IServiceService"
          contract="Service.Wcf.IServiceService" name="BasicHttpBinding_IServiceService" />

      <endpoint address="http://localhost:8733/serviceapi" binding="basicHttpBinding"
       bindingConfiguration="BasicHttpBinding_IServiceApiService"
       contract="Service.Wcf.IServiceApiService" name="BasicHttpBinding_IServiceApiService" />

      <endpoint address="net.pipe://localhost/service" binding="netNamedPipeBinding"
          bindingConfiguration="NetNamedPipeBinding_IServiceService"
          contract="Service.Wcf.IServiceService" name="NetNamedPipeBinding_IServiceService" >
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="net.pipe://localhost/serviceapi" binding="netNamedPipeBinding"
        bindingConfiguration="NetNamedPipeBinding_IServiceApiService"
        contract="Service.Wcf.IServiceService" name="NetNamedPipeBinding_IServiceApiService" >
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>

      <endpoint address="net.tcp://localhost:8734/service" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_IServiceService"
        contract="Service.Wcf.IServiceService" name="NetTcpBinding_IServiceService" />
      <endpoint address="net.tcp://localhost:8734/serviceapi" binding="netTcpBinding"
  bindingConfiguration="NetTcpBinding_IServiceService"
  contract="Service.Wcf.IServiceService" name="NetTcpBinding_IServiceApiService" />

    </client>
  </system.serviceModel>
  
  <system.web>
    <compilation debug="true" targetFramework="4.8">
      <assemblies>
        <add assembly="netstandard, Version=2.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" />
        <!--<add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />-->
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.8" />
    <httpModules>
      <!--<add name="AutoFacHttpModule" type="Web.Admin.AutoFacHttpModule, Web.Admin" />-->
    </httpModules>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http.WebHost" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
