<?xml version="1.0" encoding="utf-8" ?>
<configuration>
 <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data"/>
  </configSections>
  <connectionStrings>
    <!--SQLServer数据库的连接字符串-->
    <add name="sqlserver" providerName="System.Data.SqlClient" connectionString="Persist Security Info=False;Data Source=(local);Initial Catalog=Service;Integrated Security=SSPI"/>
      <!--MySQL数据库的连接字符串-->
    <add name="mysql" providerName="MySql.Data.MySqlClient" connectionString="Server=localhost;Database=Service;Uid=root;Pwd=wjp930514.;"/>
  </connectionStrings>
   <dataConfiguration defaultDatabase="sqlserver">
     <providerMappings>
       <add databaseType="EntLibContrib.Data.MySql.MySqlDatabase, EntLibContrib.Data.MySql" name="MySql.Data.MySqlClient" />
     </providerMappings>
  </dataConfiguration>
</configuration>