<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
      <!--有参无参  硬代码配置多个地址 必须要有 不然异常 -->
      <serviceHostingEnvironment multipleSiteBindingsEnabled="true">
        <baseAddressPrefixFilters>
          <add prefix="net.pipe://localhost" />
          <add prefix="http://localhost:8733" />
          <add prefix="tcp://localhost:8733" />
        </baseAddressPrefixFilters>
      </serviceHostingEnvironment>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
      
      <bindings>
        <netTcpBinding>
          <!--<binding name="netTcpBindingConfiguration">
            <readerQuotas maxDepth="64" maxStringContentLength="2147483647 " maxArrayLength="2147483647 " maxBytesPerRead="4096" maxNameTableCharCount="16384" />
            <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
            <security mode="Transport">
              <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
            </security>
          </binding>-->
        </netTcpBinding>
      </bindings>

      
      <services>
          <service name="Service.Wcf.ServiceService">

            <endpoint address="" binding="basicHttpBinding" contract="Service.Wcf.IServiceService">
              <identity>
                <dns value="localhost" />
              </identity>
            </endpoint>
            <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />


            <endpoint address="" binding="netNamedPipeBinding" contract="Service.Wcf.IServiceService">
              <identity>
                <dns value="localhost" />
              </identity>
            </endpoint>
            <endpoint address="mex" binding="mexNamedPipeBinding" contract="IMetadataExchange" />

            <endpoint address="" binding="netTcpBinding" contract="Service.Wcf.IServiceService">
              <identity>
                <dns value="localhost" />
              </identity>
            </endpoint>
            <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />

            <host>
              <baseAddresses>
                <add baseAddress="net.pipe://localhost/service" />
                <add baseAddress="http://localhost:8733/service" />
                <add baseAddress="net.tcp://localhost:8734/service" />
              </baseAddresses>
            </host>
          </service>
          
          <service name="Service.Wcf.ServiceApiService">

            <endpoint address="" binding="basicHttpBinding" contract="Service.Wcf.IServiceApiService">
              <identity>
                <dns value="localhost" />
              </identity>
            </endpoint>
            <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />


            <endpoint address="" binding="netNamedPipeBinding" contract="Service.Wcf.IServiceApiService">
              <identity>
                <dns value="localhost" />
              </identity>
            </endpoint>
            <endpoint address="mex" binding="mexNamedPipeBinding" contract="IMetadataExchange" />

            <endpoint address="" binding="netTcpBinding" contract="Service.Wcf.IServiceApiService">
              <identity>
                <dns value="localhost" />
              </identity>
            </endpoint>
            <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />

            <host>
              <baseAddresses>
                <add baseAddress="net.pipe://localhost/serviceapi" />
                <add baseAddress="http://localhost:8733/serviceapi" />
                <add baseAddress="net.tcp://localhost:8734/serviceapi" />
              </baseAddresses>
            </host>
          </service>

          <service name="WcfConfig.UserWcfService">
                <endpoint address="" binding="basicHttpBinding" contract="WcfConfig.IUserWcfService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />

                <endpoint address="" binding="netNamedPipeBinding" contract="WcfConfig.IUserWcfService">
                  <identity>
                    <dns value="localhost" />
                  </identity>
                </endpoint>
                <endpoint address="mex" binding="mexNamedPipeBinding" contract="IMetadataExchange" />

                <host>
                    <baseAddresses>
                        <add baseAddress="net.pipe://localhost/user" />
                        <add baseAddress="http://localhost:8733/user" />
                    </baseAddresses>
                </host>
            </service>
          
            <service name="WcfConfig.UserLogWcfService">
                <endpoint address="" binding="basicHttpBinding" contract="WcfConfig.IUserLogWcfService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />

                <endpoint address="" binding="netNamedPipeBinding" contract="WcfConfig.IUserLogWcfService">
                  <identity>
                    <dns value="localhost" />
                  </identity>
                </endpoint>
                <endpoint address="mex" binding="mexNamedPipeBinding" contract="IMetadataExchange" />

                <host>
                    <baseAddresses>
                        <add baseAddress="net.pipe://localhost/userlog" />
                        <add baseAddress="http://localhost:8733/userlog" />
                    </baseAddresses>
                </host>
            </service>
          
            <service name="WcfConfig.AddressWcfService">
                <endpoint address="" binding="basicHttpBinding" contract="WcfConfig.IAddressWcfService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />

                <endpoint address="" binding="netNamedPipeBinding" contract="WcfConfig.IAddressWcfService">
                  <identity>
                    <dns value="localhost" />
                  </identity>
                </endpoint>
                <endpoint address="mex" binding="mexNamedPipeBinding" contract="IMetadataExchange" />

                <host>
                    <baseAddresses>
                        <add baseAddress="net.pipe://localhost/address" />
                        <add baseAddress="http://localhost:8733/address" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>